body{
    font-family: 'Playfair Display', serif;
}
span{
    color: orange;
}
h1{
    font-size: 60px;
}
.button{
    color:white;
    background-color: tomato;
    text-align: center;
    text-decoration: none;
    width: 15%;
    padding: 10px 40px;
    border-radius: 5px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}